---
import ChampionGrid from '../components/ChampionGrid.svelte';
import ChampionsList from '../components/ChampionsList.svelte';

import {
  ENDPOINT_PATCHES,
  ENDPOINT_CHAMPIONS,
  ENDPOINT_CHAMP_REPORT,
} from '../constants.js';
import {
  asPercent,
  formatPatchVersion,
  analyzePatchData,
  prDiffColor,
  wrDiffColor,
  buildChampionsList,
} from '../helpers.js';

let champions;
let patchLatest;
let patchlist = [];
let patchPrevious;
let report1;
let report2;
let report3;
let report4;
let report5;

const patchesRes = await fetch(ENDPOINT_PATCHES);
const patches = await patchesRes.json();

if (patches.data.length) {
  patchLatest = patches.data[0];
  patchPrevious = patches.data[1];

  patchlist = patches.data.map(patch => formatPatchVersion(patch.patch));
}

const championsRes = await fetch(ENDPOINT_CHAMPIONS(patchLatest.patch));
const championsdata = await championsRes.json();

if (championsdata?.data) {
  champions = championsdata.data;
}

const [p1, p2, p3, p4, p5] = await Promise.all([
  fetch(ENDPOINT_CHAMP_REPORT(patchlist[0])),
  fetch(ENDPOINT_CHAMP_REPORT(patchlist[1])),
  fetch(ENDPOINT_CHAMP_REPORT(patchlist[2])),
  fetch(ENDPOINT_CHAMP_REPORT(patchlist[3])),
  fetch(ENDPOINT_CHAMP_REPORT(patchlist[4])),
]);

report1 = await p1.json();
report2 = await p2.json();
report3 = await p3.json();
report4 = await p4.json();
report5 = await p5.json();

const reports = [
  report1?.data,
  report2?.data,
  report3?.data,
  report4?.data,
  report5?.data,
].filter(Boolean);
const data = buildChampionsList(champions, reports, patchlist);

const { newChamps, playrateJumps, winrateJumps, bigMovers } = analyzePatchData(
  champions,
  reports
);
const lists = [
  {
    title: 'Play Rate *AND* Win Rate Movers',
    type: 'both',
    entries: bigMovers,
  },
  {
    title: 'Play Rate Movers',
    type: 'playrate',
    entries: playrateJumps,
  },
  {
    title: 'Win Rate Movers',
    type: 'winrate',
    entries: winrateJumps,
  },
  { title: '*New*', type: 'new', entries: newChamps },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://blitz-cdn-plain.blitz.gg/blitz/css/BlitzUI/BlitzUI-v2-theme.css" />
    <meta name="viewport" content="width=device-width" />
    <title>League Patch Analysis</title>
  </head>

  <body>
    <!-- <header>
      <h1>
        Comparing Patch {formatPatchVersion(patchLatest.ddragon_version)}
        to {formatPatchVersion(patchPrevious.ddragon_version)}
      </h1>
      <div class="game-counts">
        <div>
          <p class="type-overline">
            {formatPatchVersion(patchLatest.ddragon_version)}
          </p>
          <p class="type-body1">
            {patchLatest.games.toLocaleString()} Games
          </p>
        </div>
        <div>
          <p class="type-overline">
            {formatPatchVersion(patchPrevious.ddragon_version)}
          </p>
          <p class="type-body1">
            {patchPrevious.games.toLocaleString()} Games
          </p>
        </div>
      </div>
    </header> -->
    <!-- <ChampionsList {data} client:idle /> -->
    <ChampionGrid data={lists} client:idle />
  </body>
</html>

<style lang="scss">
  body {
    background: var(--shade9);
    color: var(--shade0);
    max-width: 1500px;
    min-height: calc(100vh + 1px);
    margin-inline: auto;
    padding-bottom: 10rem;
    padding-top: 2rem;
    padding-inline: 0.5rem;
  }

  header {
    margin-bottom: 1rem;
  }

  .game-counts {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    color: var(--shade2);
  }
</style>
