---
import ChampionGrid from '../components/ChampionGrid.svelte';

import {
  ENDPOINT_PATCHES,
  ENDPOINT_CHAMPIONS,
  ENDPOINT_CHAMP_REPORT,
} from '../constants.js';
import {
  asPercent,
  formatPatchVersion,
  analyzePatchData,
  prDiffColor,
  wrDiffColor,
} from '../helpers.js';

let champions;
let patchLatest;
let patchPrevious;
let reportLatest;
let reportPrevious;

const patchesRes = await fetch(ENDPOINT_PATCHES);
const patches = await patchesRes.json();

if (patches.data.length) {
  patchLatest = patches.data[0];
  patchPrevious = patches.data[1];
}

const championsRes = await fetch(
  ENDPOINT_CHAMPIONS(patchLatest.ddragon_version)
);
const championsdata = await championsRes.json();

if (championsdata?.data) {
  champions = championsdata.data;
}

const [reportLatestRes, reportPreviousRes] =
  await Promise.all([
    fetch(
      ENDPOINT_CHAMP_REPORT(
        formatPatchVersion(patchLatest.ddragon_version)
      )
    ),
    fetch(
      ENDPOINT_CHAMP_REPORT(
        formatPatchVersion(patchPrevious.ddragon_version)
      )
    ),
  ]);

reportLatest = await reportLatestRes.json();
reportPrevious = await reportPreviousRes.json();

if (reportLatest.data) {
  reportLatest = reportLatest.data;
}

if (reportPrevious.data) {
  reportPrevious = reportPrevious.data;
}

const {
  newChamps,
  playrateJumps,
  winrateJumps,
  bigMovers,
} = analyzePatchData(
  champions,
  reportLatest,
  reportPrevious
);
const lists = [
  {
    title: 'Play Rate *AND* Win Rate Movers',
    type: 'both',
    entries: bigMovers,
  },
  {
    title: 'Play Rate Movers',
    type: 'playrate',
    entries: playrateJumps,
  },
  {
    title: 'Win Rate Movers',
    type: 'winrate',
    entries: winrateJumps,
  },
  { title: '*New*', type: 'new', entries: newChamps },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon.ico" />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://blitz-cdn-plain.blitz.gg/blitz/css/BlitzUI/BlitzUI-v2-theme.css" />
    <meta name="viewport" content="width=device-width" />
    <title>League Patch Analysis</title>
  </head>

  <body>
    <header>
      <h1>
        Comparing Patch {formatPatchVersion(patchLatest.ddragon_version)}
        to {formatPatchVersion(patchPrevious.ddragon_version)}
      </h1>
      <div class="game-counts">
        <div>
          <p class="type-overline">
            {formatPatchVersion(patchLatest.ddragon_version)}
          </p>
          <p class="type-body1">
            {patchLatest.games.toLocaleString()} Games
          </p>
        </div>
        <div>
          <p class="type-overline">
            {formatPatchVersion(patchPrevious.ddragon_version)}
          </p>
          <p class="type-body1">
            {patchPrevious.games.toLocaleString()} Games
          </p>
        </div>
      </div>
    </header>
    <ChampionGrid data={lists} client:idle />
  </body>
</html>

<style lang="scss">
  body {
    background: var(--shade9);
    color: var(--shade0);
    max-width: 1500px;
    min-height: calc(100vh + 1px);
    margin-inline: auto;
    padding-bottom: 10rem;
    padding-top: 2rem;
    padding-inline: 0.5rem;
  }

  header {
    margin-bottom: 1rem;
  }

  .game-counts {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    color: var(--shade2);
  }
</style>
